<div class="cf-container ">

    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-6 cf-item">
            <div class="logo-slogan">
                <img src="images/logo-slogan.png" />
            </div>
            <header>
                <p><span></span>Total de Plugs</p>
            </header>
            <div class="row">
                <div class="col-xs-8">
                    <div class="content">
                        <div class="metric total-plugs">3292</div>
                    </div>
                </div> <!-- //end col -->
                <div class="col-xs-4">
                    <div class="content">
                        <div class="change m-red metric-small inactive-plugs">
                            <div class="arrow-up hidden"></div>
                            <span class="large">32</span>
                            <h5 class="small">Inativo(s)</h5>
                        </div>
                    </div>
                </div> <!-- //end col -->
            </div> <!-- //end row -->
            <header>
                <p><span></span>Total de Nodes</p>
            </header>
            <div class="row">
                <div class="col-xs-8">
                    <div class="content">
                        <div class="metric total-nodes">135</div>
                    </div>
                </div> <!-- //end col -->
                <div class="col-xs-4">
                    <div class="content">
                        <div class="change m-red metric-small inactive-nodes">
                            <div class="arrow-up hidden"></div>
                            <span class="large">9</span>
                            <h5 class="small">Inativo(s)</h5>
                        </div>
                    </div>
                </div> <!-- //end col -->
            </div> <!-- //end row -->
            <header>
                <p><span></span>Consumo Mensal</p>
            </header>
            <div class="row">
                <div class="col-xs-6">
                    <div class="content">
                        <div class="metric monthly-energy">13kw</div>
                    </div>
                </div> <!-- //end col -->
                <div class="col-xs-6">
                    <div class="content">
                        <div class="metric monthly-power">1,9*</div>
                    </div>
                </div> <!-- //end col -->
            </div> <!-- //end row -->
        </div> <!-- //end col -->

        <div class="col-lg-8 col-sm-8 col-xs-6 cf-item">
            <header>
                <p><span></span>Consumo mensal de energia por plug</p>
            </header>
            <div class="bubble-chart">
                <img src="images/bubble-graph.png" />
            </div>
        </div> <!-- //end col -->
    </div>
</div> <!-- //end container -->